[Unit]
Description=Light and custom DNS 
After=postgresql.service

[Service]
Restart=on-failure
ExecStart=/home/develop/src/dns-hijack/bin/dns
RestartSec=5

[Install]
WantedBy=default.target

